#headz{
    color:blue;
    transition: 1s;
    border:5px;
    border-radius: 3px;
}

#headz:hover{
    color:rgb(0, 255, 170);
}

#josh{
    color:black;
    text-underline-offset: 50000px;
    transition:1s;
}

#josh:hover{
    color:blanchedalmond;
}

iframe {
    display:block;
}